#inputArea {
    margin: 10px;
}

#inputText {
    width: 400px;
    height: 100px;
    font-size: 16px;
    margin-bottom: 10px;
}

#gameArea {
    margin-top: 20px;
}

#scriptBox {
    width: 400px;
    height: 150px;
    border: 1px solid #000;
    overflow-y: auto; /* スクロール可能にする */
    font-size: 18px;
    padding: 10px;
    background-color: #f5f5f5;
}

#fun {
    width: 400px;
    font-size: 16px;
    margin-top: 10px;
}

button {
    margin: 5px;
    padding: 5px 10px;
}

#txt span.correct {
    color: red;
}

#txt span.remaining {
    color: black;
}
